@import '~@view/view';

body {
  margin: 0;
  padding: 32px;
  box-sizing: border-box;
  width: 100vw;
  height: 100vh;
  background-color: wheat;
}

.wrapper {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
